#board>.cell {
  width: 100%;
  padding-top: 100%;
  background: white;
  border-radius: 50%;
}

#board>.cell[data-player='yellow'] {
  background-color: yellow;
}

#board>.cell[data-player='red'] {
  background-color: red;
}

.circle-drop {
  animation: dropAnimation 0.5s linear forwards;
}

@keyframes dropAnimation {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}