:root{
    --primary-color: #769656;
    --secondary-color: white;
}

/* Navigation bar component */
#navbar{
    background-color: var(--primary-color) !important;
}

#listgroup-item {
    background-color: var(--primary-color) !important;
    border-color: transparent !important;
    border-radius: 0 !important;
    padding-left: 20px;
}

#nav-link {
    color: var(--secondary-color) !important;
    font-size: 20px;
    border: 0px;
}

#navbar-btn {
    background-color: var(--secondary-color) !important;
    color: var(--primary-color) !important;
    font-size: 18px;
    font-weight: bold;
    border: none !important;
}

.navbar-nav {
    background-color: transparent !important;
}