:root{
    --primary-color: #769656;
    --secondary-color: white;
}

/* Password strength bar */ 
.pwd-checker-bar {
  background-color: rgb(223, 223, 223) !important;
}

.pwd-checker-bar.strength-.progress .progress-bar {
  background-color: #e20b07; 
  border-radius: 3px !important;
}

.pwd-checker-bar.strength-.progress .progress-bar::after {
  background-color: transparent !important; 
  border-radius: 3px !important;
}

.pwd-checker-bar.strength-unacceptable.progress .progress-bar {
  background-color: #e20b07; 
  border-radius: 3px !important;
}

.pwd-checker-bar.strength-weak.progress .progress-bar {
  background-color: #ff7a00;
  border-radius: 3px !important;

}

.pwd-checker-bar.strength-average.progress .progress-bar {
  background-color: #ebbd04; 
  border-radius: 3px !important;
}

.pwd-checker-bar.strength-good.progress .progress-bar {
  background-color: #6ec291; 
  border-radius: 3px !important;

}

.pwd-checker-bar.strength-strong.progress .progress-bar {
  background-color: #1d7c2e; 
  border-radius: 3px !important;
}

/* Admin page */

.table-horizontal-line{
  border-top: 4px solid var(--primary-color);
  width: 300px;
}

.table-header-row{
  color: white;
  background-color:  var(--primary-color);
}

/* Remove player modal */

#remove-player-header {
    background-color: var(--primary-color);
    color: white;
}

#player-modal-attribute{
    font-size: 20px !important;
}

#player-modal-body{
    color: #4B4B5C;
    font-size: 17px;
    font-weight: 450;
}

#remove-btn {
  background-color: #769656 !important;
  border-color: transparent !important;
}

/* Game cards */
#game-card {
  width: 21rem;
  box-shadow: 1px 1px 10px;
  border-radius: 10px;
}

#game-card-body{
  display: flex;
  flex-direction: column;
}

#game-card-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

#game-card-btn-container{
  display: flex;
  justify-content: center;
}

#game-card-btn {
  font-size: 15px;
  font-weight: bold;
  background-color: var(--primary-color) !important;
  border-color: transparent !important;
}

/* Winner modal */

#winner-modal-header {
  background-color: var(--primary-color);
  color: white;
}

#trophy {
  margin-left: 5px;
  width: 25px;
}

#winner-modal-body{
  color: #4B4B5C;
  font-size: 20px;
  font-weight: 450;
}

#restart-btn {
  background-color: #769656 !important;
  border-color: transparent !important;
}

/* Define the animation */
.circle-drop {
  animation: dropAnimation 0.5s linear forwards;
}

/* Keyframes for the animation */
@keyframes dropAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}


/************************************************************ CHESS ***********************************************************/
#chessboard {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  width: 600px;
  height: 600px;
  margin-top: 20px;
  padding: 0px;
}

.tile {
  display: grid;
  place-content: center;
  margin: 0px;
  padding: 0px;
  width: 75px !important;
  height: 75px !important;
}

.dark-tile {
  background-color: var(--primary-color);
}

.light-tile {
  background-color: lightgray;
}

.tile img {
  width: 70px;
}

.chess-piece {
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

.chess-piece:hover {
  cursor: grab;
}

.chess-piece:active {
  cursor: grabbing;
}

.tile-highlight:not(.chess-piece-tile)::before {
  content: " ";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

.tile-highlight.chess-piece-tile::before {
  position: absolute;
  content: " ";
  width: 75px;
  height: 75px;
  border: 5px solid rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

.chess-modal {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.chess-modal.hidden {
  display: none;
}

.chess-modal > .modal-body {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px;
  top: calc(50% - 40px);
  left: calc(50% - 300px);
  height: 200px;
  background-color: rgba(0, 0, 0, 0.6);
}

.chess-modal > .modal-body > img {
  height: 100px;
  border-radius: 50%;
  padding: 10px;
}

.chess-modal > .modal-body > img:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.chess-modal > .modal-body > .checkmate-body {
  display: flex;
  flex-direction: column;
  align-items: center;  gap: 50px;
  width: 100%;
}

.chess-modal > .modal-body > .checkmate-body > span{
  font-size: 35px;
  color: white;

}

.chess-modal > .modal-body > .checkmate-body > button{
  background-color: var(--primary-color);
  border: transparent;
  width: 50%;
}