:root {
    --primary-color: #769656;
    --secondary-color: white;
}

#unauth {
    box-shadow: 0;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.lead {
    align-self: center;
}

#unauth-title {
    align-self: center;
}

.home-btn {
    width: 20%;
    align-self: center;
    border: transparent;
    background-color: var(--primary-color) !important;
}